
.bx-ie10 .menu1, .bx-ie9 .menu1, .bx-ie .menu1, bx-ie7 .menu1{
    background:url(/i/bg44a.gif) repeat-x top;
 }
 .bx-ie10 .mag, .bx-ie9 .mag, .bx-ie8 .mag, .bx-ie7 .mag{
    width: 200px;
 }
 .bx-ie10 .list173 ul, .bx-ie9 .list173 ul, .bx-ie8 .list173 ul, .bx-ie7 .list173 ul {
    height:auto;
 }

.bx-ie8 #container .mag{
    width: 200px !important;
}
 
 .bx-ie8 .mag{
    width: 200px;

 }
.bx-ie8 .menu1{
    background-attachment:scroll;
    background-color:transparent;
    background-image: url("/i/bg44a.gif");
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat:repeat-x;

}
 #none{
    display: none;
 }
 

 