@import url("reset.css");
html, body {min-width:1000px;}
body {background:url(/i/bg.gif) repeat-x top; color:#282828; font:13px Trebuchet Ms; position: relative;}
#container {width:980px; margin:auto; padding-bottom:14px; position:relative;}
	.block33 {height:33px; background:url(/i/dot1-ebebeb.gif) repeat-x bottom; padding-top:12px;}
		.block33 p {text-align:right; font-size:10px; text-transform:uppercase;}
			.block33 p img {margin-right:4px; position:relative; top:4px;}
			.block33 p img.sep{top:2px;}
				.block33 p a, .block33 p a:visited {margin:0 8px 0 5px; color:#666;}
					.block33 p a.o1, .block33 p a.o1:visited {font-weight:bold; background:url(/i/bg10.gif) no-repeat right 3px;}
		
	.top {height:89px; position:relative; z-index:440;}
		.logo {position:absolute; left:-1px; top:18px;}
			.logo img {display:block;}
			.logo span {display:block; font:bold 10px Trebuchet Ms; text-transform:uppercase; padding-top:3px;}
			.logo a, .logo a:visited {text-decoration:none; color:#000;}
		.txt1 {position:absolute; left:217px; top:14px; /*width:270px;*/width: 274px; z-index:450;}
			.txt1 p {padding-bottom:7px; position:relative;}
				.txt1 p span {font:bold 16px Trebuchet Ms; background:url(/i/dot1-282828.gif) repeat-x bottom;} 
				.txt1 p a, .txt1 p a:visited {color:#f25f29; background:url(/i/dot1-f25f29.gif) repeat-x bottom; text-decoration:none; position:relative; top:-1px; left:15px;}
					.txt1 p a img, .txt1 p a:visited img {position:relative; left:2px; top:5px; cursor:pointer; border-left:4px solid #fff;}
			.ph1 {font-size:22px; position:relative; left:-2px;}
				.ph1 span {color:#f25f29;}
			
			.list171 {position:absolute; left:60px; top:0; background:#fff; z-index:440; width:171px; border:3px solid #ebebeb; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); display:none;}
			.list171_phone{display: none;}
				.list171 p {font:bold 15px Trebuchet Ms; padding:2px 0 2px 7px; border-bottom:1px solid #ebebeb;}
					.list171 p span {background:none;}
				.list171 ul {/*height:240px; overflow-y:scroll;*/ height:auto;padding:10px 0 0 0;}
					.list171 ul li {cursor:pointer; height:18px; overflow:hidden; padding-left:9px; margin-bottom:2px;}
		
		.pic49 {position:absolute; left:-24px; top:-12px;}
		.toplink1 {position:absolute; left:549px; top:33px; width:139px; height:27px; padding:9px 0 0 35px; border:1px solid #ebebeb; border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; behavior: url(pie.htc);}
			.toplink1 a, .toplink1 a:visited {text-decoration:none; font:bold 14px Trebuchet Ms; background:url(/i/dot1-282828.gif) repeat-x bottom; position:relative;}
				.toplink1 a img, .toplink1 a:visited img {position:absolute; right:-8px; top:7px;}
		
		.toplink2 {position:absolute; right:0; top:33px; width:144px; height:27px; padding:9px 0 0 35px; border:1px solid #ebebeb; border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; behavior: url(pie.htc);}
			.toplink2 a, .toplink2 a:visited {text-decoration:none; font:bold 14px Trebuchet Ms; background:url(/i/dot1-282828.gif) repeat-x bottom; position:relative;}
				.toplink2 a img, .toplink2 a:visited img {position:absolute; right:-8px; top:7px;}
				#select-action a{
				text-decoration:none; background:url(/i/dot1-282828.gif) repeat-x bottom;
				}
					
	.menu1 {height:44px; position:relative; z-index:300;}
		.menu1 ul {font-size:15px;}
			.menu1 ul li {float:left; background:url(/i/bg44a.gif) repeat-x top; position:relative;color: #FFFFFF;}	
				.menu1 ul li.mag {background:url(/i/bg44b.gif) repeat-x; border-radius:5px 0 0 0; -webkit-border-radius:5px 0 0 0; -moz-border-radius:5px 0 0 0; behavior: url(pie.htc);}
				/*.menu1 ul li.mag {background:url(/i/bg-mag.gif) no-repeat;}*/
				.menu1 ul li a, .menu1 ul li a:visited {color:#fff; text-decoration:none;}
				
				.menu1 ul li ul {position:absolute; left:0; top:43px; width:225px; font-size:13px; visibility:hidden; z-index: 20;}
					.menu1 ul li ul li {padding:4px 0 4px 20px; background:#1e1d1d; border-bottom:1px solid #505054; width:100%; height:auto;}
					.menu1 ul li ul li:hover{background:#7c7c7f url(/i/bg2.gif) repeat-x bottom;}
					.menu1 ul li ul li span{
					color:#fff;
					}
						.lst1 {border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; behavior: url(pie.htc);}
				.menu1 ul li.active6 {background:url(/i/bg44b.gif) repeat-x top !important;}
					.menu1 ul li.mag.active6 {background:url(/i/bg-mag-on.gif) no-repeat !important;}
#top-menu-2{
background: none repeat scroll 0 0 #424146;
height: 30px;
}

		.block270 {position:absolute; right:0; top:0; background:url(/i/bg270a.jpg) no-repeat; width:270px; height:74px;}
			.block270 p {position:absolute; left:14px; top:7px; color:#fff; width:208px;}
				.block270 p img {display:block; float:left; margin-right:17px; position:relative; top:3px;}
				.block270 p strong,a.hbask {display:block; text-transform:uppercase; font-size:11px; margin-bottom:-2px; color:#fff; text-decoration: none;}
			.trigger1, .trigger1:visited {position:absolute; right:13px; top:10px;}	
				.trigger1 img, .trigger1:visited img {display:block;}
			
			.block270 form {position:absolute; left:0; top:45px; width:204px;}
				.w214 {position:absolute; border:none; left:10px; top:3px; /*width:214px;*/ width: 194px; height:23px; background:none; font:12px Trebuchet Ms; color:#d2d2d2;} 	
				.btn22a {position:absolute; right:10px; top:4px; border:none; background:none; width:22px; height:22px; cursor:pointer;}
		
		.insCart {position:absolute; right:0; top:44px; background:url(/i/cart_full.png); width:270px; padding:8px 0 10px 0; border-radius:0 0 6px 6px; display:none;z-index: 120;}
			.insCart p {float:none; position:static; padding:0 20px 0 22px;}
			.insCart a,.insCart span u, .insCart a:visited {color:#fff; font-weight:bold; 
			/*background:url(/i/bg15.gif) repeat-x left top; display:block;*/ padding:10px 0 0 22px;}
			div.cart_separt {background: url(/i/bg15.gif) repeat-x scroll left top transparent; height: 5px;margin-top: 5px;}
			.insCart span u{text-decoration: none;}
			#clear-basket{padding-left: 18px;}
		
		
	.menu2 {clear:both; margin-bottom:14px; position:relative; z-index:290;}
			.menu2 ul li {float:left; padding:5px 25px 0 25px; height:25px; background:#424146; position:relative}
				.menu2 ul li a, .menu2 ul li a:visited {color:#a9a8ad;text-decoration:none;}
				.menu2 ul li ul {position:absolute; left:0; top:30px; font-size:13px; visibility:hidden;z-index: 900;}
					.menu2 ul li ul li {background:url(/i/bg1.png); width:229px; padding:0; height:auto; float:none;}
						.menu2 ul li ul li a,
						.menu2 ul li ul li a:visited,
						.menu2 ul li ul li span.selected_tm2 {display:block; color:#fff; padding:3px 10px 3px 26px; background:url(/i/bg2.gif) repeat-x bottom; text-decoration:none; min-height:1px;}
						.menu2 ul li ul li a:hover {background:#7c7c7f url(/i/bg2.gif) repeat-x bottom;}
						.menu2 ul li ul li.lst10 {border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; behavior: url(pie.htc); padding-bottom:10px;}

	.block310 {height:310px; position:relative; z-index:1; overflow: hidden;}
		.list269 {position:absolute; right:0; top:0; width:269px;}
			.list269 li { clear:both; min-height:1px;}
				.list269 li img {display:block; cursor:pointer;}
		.pic711 {display:none;}
	
	.shadow1 {display:block; margin:auto;}
	
	.block124 {height:124px; background:url(/i/bg124.gif) repeat-x; width: 981px; border:1px solid #ebebeb; border-bottom:1px solid #cfced6; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); margin-bottom:18px;}
		.block124 ul {}
			.block124 ul li {float:left; background:url(/i/bg124b.gif) no-repeat right top; height:124px; padding:0px 33px; text-align:center;}
				.block124 ul li a, .block124 ul li a:visited {display: block; height: 85%; padding-top: 19px; text-decoration: none; width: 100%;}
				.block124 ul li span {font:bold 11px Trebuchet Ms; text-transform:uppercase; display:block; padding-top:6px; width:130px;}
	
	.col224 {width:210px; padding-right:14px; float:left;}
		.block208a {width:208px; border:1px solid #efebec; margin-bottom:13px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); position:relative;}
            .block208a span.left-menu-header {display: block; background:#f5f3f4; border-top:1px solid #fff; font:13px Trebuchet Ms; padding:7px 0 10px 15px; border-bottom:1px solid #e3e3e3; }
			.block208a p {background:#f5f3f4; border-top:1px solid #fff; font:13px Trebuchet Ms; padding:7px 0 10px 15px; border-bottom:1px solid #e3e3e3; }
			.list1 {padding:14px 0 9px 17px;}
				.list1 li {background:url(/i/pic21b.gif) no-repeat left top; padding:2px 0 7px 30px;}
					.list1 li a,.list1 li span, .list1 li a:visited {
					background:url(/i/dot1-282828.gif) repeat-x bottom;
					text-decoration:none;
					cursor:pointer;
					}
		
		.block210a {margin-bottom:15px; position:relative;}
			.block210a img {display:block;}
			.block210a h6 {height:43px; background:url(/i/bg46a.gif) repeat-x top; border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; behavior: url(pie.htc); font:italic 13px Trebuchet Ms; padding:3px 30px 0 24px;}
				.block210a h6 a, .block210a h6 a:visited {color:#efe9e9; text-decoration:none;}
					.block210a h6 img {display:inline; position:relative; left:10px; top:2px;}
			
			.txt2 {font-size:14px; padding:5px 0 0 18px; margin-bottom:-10px;}
			.icons25 {padding:13px 0 0 13px;}
				.icons25 li {float:left; margin-right:4px;}
		
		.blockH91 {border:1px solid #efebec; border-bottom:1px solid #cecfd4; background:url(/i/bg91.gif) repeat-x bottom; height:91px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); position:relative; margin-bottom:13px;}
			.blockH91 p {padding:32px 0 0 18px; text-transform:uppercase;}
				.blockH91 p img {float:left; position:relative; top:-10px; margin-right:17px;}
			.blockH91 a, .blockH91 a:visited {position:absolute; right:0; bottom:0; width:83px; height:21px; background:url(/i/bg93.gif) no-repeat; color:#fff; text-decoration:none; padding:3px 0 0 10px;}
				
	.col756 {width:756px; float:left;}
		.contentBlock1 {border:1px solid #efebec; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); margin-bottom:14px; position:relative;}
			.subContentBlock1 {background:#f5f3f4;}
				.subContentBlock1 h2 {border-top:1px solid #fff; font:bold 23px Trebuchet Ms; padding:13px 0 0 14px; position:relative;}
					.subContentBlock1 h2 a, .subContentBlock1 h2 a:visited {position:absolute; right:17px; top:12px;}
					
				.subContentBlock1 ul {padding:7px 0 16px 16px;}
					.subContentBlock1 ul li {float:left; width:320px;}
						.subContentBlock1 ul li table {margin-bottom:2px;}
							.subContentBlock1 ul li table td {padding-right:5px;}
								.subContentBlock1 ul li table td span {background:#f25f29; color:#fff; font-size:11px; display:block; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; behavior: url(pie.htc); padding:0 3px 0 3px; position:relative;}
								.subContentBlock1 ul li table td img {position:relative; top:1px;}
						.subContentBlock1 ul li p {color:#414246; line-height:14px; padding-bottom:6px;}
							.subContentBlock1 ul li p a, .subContentBlock1 ul li p a:visited {color:#282828; font-weight:bold; line-height:20px;}

						.subContentBlock1 ul li div {color:#414246; line-height:14px; padding-bottom:6px;}
							.subContentBlock1 ul li div a, .subContentBlock1 ul li div a:visited {color:#282828; font-weight:bold; line-height:20px;}
				
				.srv7, .srv7:visited {background:#424146; display:block; float:right; color:#fff; margin-top:-23px; padding:2px 13px 2px 10px; border-radius:4px 0 0 0; -webkit-border-radius:4px 0 0 0; -moz-border-radius:4px 0 0 0; behavior: url(pie.htc); text-decoration:none; position:relative;}
						
			.txt3 {background:url(/i/dot1-e3e3e3.gif) repeat-x top; padding:14px 0 0 15px;}
				.txt3 h2 {font:bold 23px Trebuchet Ms; padding-bottom:13px;}
				.txt3 p {padding:0 20px 20px 0;}
		.block460 {width:460px; float:left; margin-right:13px;}
		.block282 {width:282px; float:left;}

.foot1 {height:282px; background:#eae9e7; clear:both;}
	.foot1 table {width:1000px; margin:auto;}
		.foot1 table td {vertical-align:top; padding-top:18px;}
			.foot1 table td span {font:bold 14px Trebuchet Ms; border-bottom:1px solid #ceced6; margin-right:7px; padding-bottom:8px;}
			.foot1 table td ul {padding-left:3px;}
				.foot1 table td ul li {padding:7px 0 7px 0; background:url(/i/dot1-d0ced3.gif) repeat-x bottom; margin-right:5px;}
					.foot1 table td ul li a, .foot1 table td ul li a:visited {text-decoration:none;}

.foot2 {background:#424244; height:177px;}
	.fc2 {width:980px; margin:auto; padding-top:22px; position:relative;}
		.blockH47 {border-top:1px solid #cfced4; border-bottom:1px solid #1a1a1c; position:relative; color:#fff; padding:14px 0 15px 0;}
			.blockH47 ul {position:absolute; right:0; top:15px;}
				.blockH47 ul li {float:left; background:url(/i/pic14a.gif) no-repeat right 3px; padding:0 19px 0 19px;}
					.blockH47 ul li a, .blockH47 ul li a:visited {color:#fff;}
		.am {color:#fff; font-size:16px; padding-top:16px; font-weight:bold;}
			.am p {font:22px Trebuchet Ms;}
				.am p span {color:#999;}
			.am a, .am a:visited {font-size:12px; color:#fff; position:relative; top:-5px;}
		.toplink, .toplink:visited {position:absolute; right:-105px; top:-316px;}
		
		.socBottom {position:absolute; right:0; top:90px; color:#fff;}
			.socBottom ul {padding-top:10px}
				.socBottom ul li {float:left; margin-right:15px;}
		
		
/*02*/

.col980 {width:980px; padding-bottom:40px;}
	.col980 h1, .col756 h1, .block404 h1 {font:bold 22px Trebuchet Ms; padding-bottom:5px; position:relative;}

.crumbs {margin:-4px 0 6px 0; position:relative; color:#858585; width:100%;}
	.crumbs ul {font-size:11px; padding-left:2px;}
		.crumbs ul li {float:left; background:url(/i/pic3a.gif) no-repeat right 6px; margin-right:7px;}
			.crumbs ul li a, .crumbs ul li a:visited {color:#858585; padding-right:10px;}
	.link21, .link21:visited {display:block; position:absolute; right:0; top:-3px;}

.blockH48 {background:#f5f3f4; border:1px solid #efebec; border-bottom:1px solid #e3e3e3; height:48px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); margin-bottom:-3px; position:relative;}
	.blockH48.m20 {margin-bottom:20px; }
	.blockH48 form {position:relative; width:100%;}
		.w798 {position:absolute; left:19px; top:9px; background:url(/i/bg798a.gif) no-repeat; width:788px; height:30px; border:none; color:#a79e9f; padding-left:10px;}
		.w588 {position:absolute; left:19px; top:9px; background:url(/i/bg588a.gif) no-repeat; width:578px; height:30px; border:none; color:#a79e9f; padding-left:10px;}
		.btn122a {background:url(/i/btn122a.gif) no-repeat; width:122px; height:36px; cursor:pointer; border:none; position:absolute; right:17px; top:6px;}

.block980a {border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); border:1px solid #efebec; padding:10px; position:relative;}
.list172 {padding:7px 0 0 8px;}
	.list172 li {float:left; margin:0 20px 10px 0; background:url(/i/bg172.jpg) no-repeat; width:172px; height:192px;}
		.list172 li table {width:100%; font-size:11px;}
			.list172 li table td {text-align:center;}
					.list172 li table td span a, .list172 li table td span a:visited {text-decoration:none;}

.block210b {}
	.block210b p, .block210b h6 {height:28px; font:14px Trebuchet Ms; background:url(/i/bg38.gif) no-repeat; padding:10px 0 0 16px;}
	.scrollTop, .scrollTop:visited, .scrollBottom, .scrollBottom:visited, .scrollTop img, .scrollTop:visited img, .scrollBottom img, .scrollBottom:visited img {display:block; cursor: pointer;}
	.blockH1075 {height:1075px; overflow-y:scroll; border-left:1px solid #efebeb; font-size:12px;}
		.blockH1075 ul li, ul.list_pdf li { background:url(/i/pic5b.gif) no-repeat 8px 9px; min-height:1px; position: relative;}
			.blockH1075 ul li a, .blockH1075 ul li a:visited,.blockH1075 ul li span {padding:4px 10px 4px 20px; border-bottom:1px solid #efebeb; display:block;}
				.blockH1075 ul li a.active4, .blockH1075 ul li a.active4:visited,.blockH1075 ul li span.active4{
				background:url(/i/bg26a.gif) repeat-x bottom #f25822; color:#fff; text-decoration:none; padding-left:10px;
				}
				.blockH1075 ul li span.active4{
                    display:block;
				}
				
					.blockH1075 ul li a.active4 img, .blockH1075 ul li a.active4:visited img,.blockH1075 ul li span.active4 img{position:relative; left:-4px; top:-2px;}
				.blockH1075 ul li ul {border-bottom:1px solid #efebeb; padding-bottom:2px;}
					.blockH1075 ul li ul li ul {border:none;}
					.blockH1075 ul li ul li {background:url(/i/pic4a.gif) no-repeat 20px 9px; padding:0 12px 0 10px;}
						.blockH1075 ul li ul li a, .blockH1075 ul li ul li a:visited {color:#848484; border:none; padding:2px 0 0 19px;  text-decoration:none;}
						.blockH1075 ul li ul li a:hover{
						color:#F15922;
						}
							.blockH1075 ul li ul li a.active5, 
							.blockH1075 ul li ul li a.active5:visited,
							.blockH1075 ul li ul li span.active5{background:#faf8f8 url(/i/pic7b.gif) no-repeat 8px 8px; border:1px solid #efebeb; color:#f15922;}
							.blockH1075 ul li ul li ul li a:hover {color:#f15922; text-decoration:underline;}
		
/*03*/		
.block756a {padding:23px 15px 0 20px; border:1px solid #efebec; border-top:none; border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; behavior: url(pie.htc); margin-bottom:10px; position:relative;}
	.list232a {padding-top:8px;}
		.list232a li {background:url(/i/bg232.jpg) no-repeat; width:232px; height:244px; float:left; margin:0 11px 12px 0; text-align:center; padding-top:40px;}
			.list232a li h2 {font:bold 12px Trebuchet Ms; background:url(/i/pic5c.gif) no-repeat 14px 39px; padding:38px 0 0 25px; 
			text-align:left; line-height:14px; height:46px;}
				.list232a li h2 a, .list232a li h2 a:visited {text-decoration:none;}
			.list232a li p {text-transform:uppercase; font-size:11px; padding:5px 0 0 30px;}
				.list232a li p a, .list232a li p a:visited {text-decoration:none; color:#8e8e8e;}

.txt4 {padding:14px 10px 0 5px;}
	.txt4 h2 {font:bold 23px Trebuchet Ms; padding-bottom:13px;}
	.txt4 p {padding-bottom:20px;}
				
.block756b,.service {padding:18px 15px 0 20px; border:1px solid #efebec; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc);}
.service{ margin-bottom: 20px;}
	.sortings {height:33px; border:1px solid #efebec; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); margin-bottom:10px; position:relative; padding-left:20px;}
		.sortings table {width:100%;}
			.sortings td {font-size:11px; padding:8px 15px 0 0;}
				.sortings td ul {color:#8f8f8f;}
					.sortings td ul li {float:left; padding-right:4px;}		
						.sortings td ul li img {display:block; position:relative; top:2px; /*cursor:pointer;*/}
						.sortings td ul li span {text-decoration:underline; cursor:pointer; padding-right:5px; position:relative; top:3px; border-right:1px solid #8f8f8f; line-height:10px; display:block;}
		
	.list232b {padding-top:8px;}
		.list232b li {background:url(/i/bg232b.jpg) no-repeat; width:232px; height:274px; float:left; margin:0 11px 12px 0; text-align:center; padding-top:40px; position:relative;}
			.list232b li div.cat-item-title {font:bold 12px Trebuchet Ms; background:url(/i/pic5c.gif) no-repeat 14px 39px; 
			padding:38px 0 0 23px; text-align:left; line-height:14px; /*height:32px;*/height: 30px;
    overflow: hidden;}
				.list232b li h2 a, .list232b li h2 a:visited {text-decoration:none;}
			
			.pr1 {font-size:11px; color:#aaa; text-align:left; padding:8px 0 18px 16px;}
	
				.pr1 span {font:bold 18px Trebuchet Ms; color:#282828;}
				
			.srv1 {text-transform:uppercase; font-size:11px; padding-left:44px;}
				.srv1 a, .srv1 a:visited {text-decoration:none; color:#8e8e8e;font-weight: bold;}
			.quick {position:absolute; left:42px; top:129px; display:none; z-index:3;}	
			.pic74 {position:absolute; left:0; top:0;}
			.pic154 {position:absolute; left:10px; top:255px; display:none;}

/*05*/
.block61 {background:url(/i/bg61a.gif) no-repeat; width:61px; height:19px; padding-top:1px; position:relative}
	.block61 input {margin:auto; width:31px; height:18px; border:none; display:block; text-align:center; font:13px Trebuchet Ms;}
		.inc7 {position:absolute; right:3px; top:6px; cursor:pointer;}
		.dec7 {position:absolute; left:3px; top:6px; cursor:pointer;}
	
	.table2 {margin-bottom:15px; font-size:12px;width: 100%;}
		.table2 th {text-align:left; vertical-align:top; text-align:left; border-right:1px solid #ebebeb; white-space:nowrap;} 
			.table2 th div {background:#f05922; color:#fff; font:13px Trebuchet Ms; padding:3px 20px 2px 5px; height:35px; line-height:16px;}
				.crl {border-radius:5px 0 0 0; -webkit-border-radius:5px 0 0 0; -moz-border-radius:5px 0 0 0; behavior: url(pie.htc); position:relative;}
				.crr {border-radius:0 5px 0 0; -webkit-border-radius:0 5px 0 0; -moz-border-radius:0 5px 0 0; behavior: url(pie.htc); position:relative;}
		.table2 td {border:1px solid #ebebed; padding:10px; vertical-align:top;}
			.table2 td div.cat-item-title {font:12px Trebuchet Ms; width:223px; line-height:14px; position:relative; cursor:pointer;}
				.table2 td h5 img {position:absolute; left:-40px; top:-90px; display:none}
			.txt5 {position:relative; font-size:12px;}
				.txt5 p {position:relative; z-index:1;}
				.txt5 span {position:relative; z-index:1;}
				.block142 {background:#f0f0f0; border:1px solid #dbdbdb; width:132px; padding:5px; position:absolute; left:0; top:16px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); margin-bottom:10px; display:none; z-index:2;}
			.pr2 {font-size:13px; line-height:12px;}
				.pr2 span.pr2a {color:#aaa5a5; font-size:12px; display:block; text-decoration:line-through; margin-bottom:-5px;}
	.b200 {margin-top: 20px;}
		.b200 ul {}
			.b200 ul li {float:left; padding-right:14px;}
				.b200 ul li img {display:block;}
			.bsk18, .bsk18:visited {position:relative;}
				.bsk18 .pic154, .bsk18:visited .pic154 {left:-120px; top:-40px;}


/*06*/

.oneProduct {padding:20px 6px 0 20px;}
    .img-prod-wrap{float:left}
	.block298 {width:298px; float:left; margin-right:24px; border:1px solid #efebec; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); padding:54px 0 40px 0; text-align:center; position:relative;}
		.block298 span {/*position:absolute; left:1px; top:1px;*/}
	.block620 {width:620px; float:left; padding:6px 0 10px 0;}
		.block620 h1 {position:relative; font:19px Trebuchet Ms; color:#f05922; padding-bottom:13px;}
			.block620 h1 a, .block620 h1 a:visited {top:-13px;}
		.blockH93 {border-bottom:1px solid #efebec; border-top:1px solid #efebec; position:relative; margin-bottom:12px;} 
			.blockH93 span {position:absolute; right:5px; top:3px; font-size:11px; color:#a2a2a2;}
			.blockH93 ul {padding:14px 0 8px 0;}
				.blockH93 ul li {padding-bottom:6px;}
		
        .qData1 {margin-bottom:23px;}
		.qData1 form {position: relative;}
			.qData1 td {vertical-align:top;}
				.qData1 td ul {padding-bottom:31px;}
					.qData1 td ul li {padding-bottom:6px;}
                    .soc1{text-align: center; clear: both;}
					.soc1 img, .soc2 img {display:block;}
				.pr2 {font:13px Trebuchet Ms; color:#000; padding-bottom:12px;}
					.pr2a { color:#8d8d8d; text-decoration:line-through;}
					.pr2b {font:bold 26px Trebuchet Ms !important; text-decoration:none !important; color:#282828 !important;}
                .btn236b, .btn236b:visited {display:block; width:236px; height:35px; float: right; background: url('/i/btn236a.png'); text-align: center; text-decoration: none; line-height: 32px; font-size: 18px; top: 0px; right: 0px; position: absolute;}
                    .btn236b .pic154, .btn236b:visited .pic154 {left:0; top:-39px;}				
                .btn237b, .btn237b:visited {display:block; width:236px; height:35px; float: right; background: url('/i/btn236a.png'); text-align: center; text-decoration: none; line-height: 32px; font-size: 18px; top: 0px; right: 0px;}
					.btn237b .pic154, .btn237b:visited .pic154 {left:0; top:-39px;}

.tabs1 {}
	.tabs1 li {background:#f5f3f4; border:1px solid #ebebeb; border-bottom:none; float:left; height:25px; padding:8px 0 0 12px; width:194px; margin-right:3px; border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; behavior: url(pie.htc); cursor:pointer;}
		.tabs1 li.active1 {border:1px solid #e44106; border-bottom:none; background:url(/i/bg33a.gif) repeat-x;}
			.tabs1 li.active1 span {color:#fff; cursor:auto;}

.tabContent1 {border:1px solid #ebebeb; clear:both; border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; behavior: url(pie.htc); margin-bottom:20px;}
	.tabData1 {display:none; position:relative; padding:20px 15px 20px 15px;}
		.qList1 {padding-top:1px;}
			.qList1 li {background:url(/i/pic5b.gif) no-repeat left 7px; padding:0 0 2px 14px;}
				.qList1 li a, .qList1 li a:visited {}
				.qList1 li a:hover {color:#f05922;}
		.audio1 {background:url(/i/img302.gif) no-repeat; width:302px; height:52px; float:right;padding-right: 250px;position: relative;}

p.h2 {font:bold 22px Trebuchet Ms;}
	
/*07*/
.block980b {border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); border:1px solid #efebec;}
	.table1 {width:100%;}
		.table1 th {text-align:left; vertical-align:top;}
			.table1 th div {height:28px; padding-top:10px; background:#f25822; color:#fff; font-size:14px;}
				.block108 {background:url(/i/bg108a.gif) no-repeat; width:108px; height:22px; padding-top:1px; position:relative;}
					.block108 input {margin:auto; width:54px; height:20px; border:none; display:block; text-align:center; font:13px Trebuchet Ms;}
					.inc9 {position:absolute; right:7px; top:6px; cursor:pointer;}
					.dec9 {position:absolute; left:8px; top:7px; cursor:pointer;}
		.table1 td {border-bottom:1px solid #ebebeb; padding:10px 0 10px 0; font-size:14px;}
			.pic80 {margin:0 10px 10px 15px; position:relative; top:8px;}
			.table1 td h6 {font:bold 13px Trebuchet Ms; width:350px}
	.srvBlock19 {height:19px; background:#f25822; border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; behavior: url(pie.htc); position:relative;}
	.total {font-size:18px; text-align:right; padding:15px;}
	.btn202a, .btn202a:visited {display:block; float:right; margin:0 15px 15px 0;}
	.srv8 {padding-top:10px;}
		.srv8 a, .srv8 a:visited {text-decoration:none; background:url(/i/dot1-f25f29.gif) repeat-x bottom; color:#f25f29;}

/*08-1*/
.list182 {padding:15px 0 0 0;}
	.list182 li {float:left; background:url(/i/bg182a.gif) no-repeat; width:182px; height:72px; position:relative; margin-right:17px;}
		.list182 li.active2 {background:url(/i/bg182a-on.gif) no-repeat;}
		.list182 li img {position:absolute; left:10px; top:12px;}
		.list182 li span {font:bold 13px Trebuchet Ms; padding:17px 10px 0 70px; display:block;}
		.list182 li a{text-decoration: none;}

.block352a {width:352px; float:left; padding:16px 0 40px 68px; margin-right:132px;}
	.block352a h5 {font:bold 22px Trebuchet Ms; padding-bottom:13px;}
	.block352b {border:1px solid #ebebeb; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc);}
		.block352b h6 {background:url(/i/bg26a.gif) repeat-x top; height:22px; border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; behavior: url(pie.htc); color:#fff; font:13px Trebuchet Ms; padding:4px 0 0 15px; margin-bottom:37px;}
		.block352b table {margin-left:17px;}
			.block352b table td {padding:0 10px 13px 0;}
				.block352b table td p {}
				.w258 {background:url(/i/bg258a.gif) no-repeat; width:251px; height:25px; border:none; font:13px Trebuchet Ms; color:#b8b8b8; line-height:25px; padding-left:7px;}
				.srv2 {font-size:11px; text-align:right; margin:-2px 1px 15px 0;}
					.srv2 a, .srv2 a:visited {color:#424146; text-decoration:none; background:url(/i/dot1.gif) repeat-x bottom;}
				.srv3 {font-size:11px; float:left; margin-right:110px; position:relative; top:5px;}
					.srv3 a, .srv3 a:visited {color:#f25822; text-decoration:none; background:url(/i/dot2.gif) repeat-x bottom;}
.btn295a, .btn295a:visited {display:block; float:left; position:relative; top:145px;}
	

/*08-2*/
.table3 {margin-bottom:25px;}
	.table3 th {font:bold 22px Trebuchet Ms; text-align:left; padding:5px 0 18px 0;}
	.table3 td {padding-bottom:12px;}
		.table3 td p {padding-right:16px;}
		.table3 td select {border:1px solid #e3e3e3; border-radius:5px; width:215px; height:23px; padding-top:2px;}
			.table3 td p span {color:#f05922; font-size:15px;}
		.w215 {
		/*background:url(/i/bg215.gif) no-repeat; */
		width:208px; height:25px; padding-left:7px; line-height:25px; font:13px Trebuchet Ms; color:#b8b8b8;
		background:#fff; border-left:1px solid #b7b7b7; border-top:1px solid #b7b7b7; border-right:1px solid #e4e3e3; border-bottom:1px solid #e4e3e3; border-radius:5px;
		}
		.w249 {
		/*background:url(/i/bg249.gif) no-repeat; */
		background:#fff; border-left:1px solid #b7b7b7; border-top:1px solid #b7b7b7; border-right:1px solid #e4e3e3; border-bottom:1px solid #e4e3e3; border-radius:5px;
		
		width:242px; height:25px; padding-left:7px; line-height:25px; font:13px Trebuchet Ms; color:#b8b8b8;}
		.w42 {background:url(/i/bg42.gif) no-repeat; width:42px; height:25px; line-height:25px; border:none; font:13px Trebuchet Ms; color:#b8b8b8; text-align:center;}
		.w181 {background:url(/i/bg181.gif) no-repeat; width:174px; height:25px; padding-left:7px; line-height:25px; border:none; font:13px Trebuchet Ms; color:#b8b8b8;}

.table4 {margin-left:77px;}
	.table4 th {}
	
	.table4 td {padding-bottom:15px;}
		.table4 td p {padding-right:10px;}
			.table4 td p span {color:#f05922; font-size:15px;}	
		.table4 td ul {}
			.table4 td ul li {float:left; padding-right:6px;}
				.table4 td ul li span {position:relative; top:3px;}
		.srv4 {font-size:10px; padding:48px 0 30px 0;}
			.srv4 span {color:#f05922;}
			
		.qCell-1 {padding-top:35px; text-align:right;}
			.srv5 {background:url(/i/dot1.gif) repeat-x bottom; cursor:pointer; /*position:relative; top:6px;*/}
			.qCell-1 input {display:none;}
			.qCell-1 img {margin-right:5px; position:relative; top:2px;}
		
		.srvLink1, .srvLink1:visited {text-decoration:none;}
			.srvLink1 img, .srvLink1:visited img {margin-right:5px; }
			.srvLink1 span, .srvLink1:visited span {background:url(/i/dot1.gif) repeat-x bottom;}
		
		.btn140b, .btn140b img, .btn140:visited {display:block}
		.table4 .btn140b {float:right;}

.table2.qx {width:95%; margin:0 0 30px 20px; font-size:14px;}
	.table2.qx h6 {font:bold 13px Trebuchet Ms;}
	.table2.qx .pic80 {margin-right:0;}
	.table2.qx th div {background:#bbbaba;}
	
/*.totalBlock {float:right; width:240px; font-size:12px; font-weight:bold; padding:0 30px 30px 0;}*/
.totalBlock {float:right; width:300px; font-size:12px; font-weight:bold; padding:0 30px 30px 0;}
	.totalBlock table {margin-bottom:20px;}
		.totalBlock td {text-align:right;}
			.totalBlock td span {color:#f15922; font-size:18px;}
	.totalBlock .btn140, .totalBlock .btn140:visited {float:right;}

/*08-3*/
p.h1 {font:bold 22px Trebuchet Ms; padding:5px 0 24px 0; position:relative;}
p.h2 {font:bold 22px Trebuchet Ms;}
p.h3 {font:bold 18px Trebuchet Ms;}
.block200a {width:220px; float:left; margin-right:19px; padding:0 0 20px 21px;}
	.block200a ul {padding:21px 0 14px 0; font-size:12px;}
		.block200a ul li {padding-bottom:7px;}
			.block200a ul li input {display:none;}
			.block200a ul li img {margin-right:7px; position:relative; top:1px;}
			.block200a ul li label {cursor:pointer;}

.block693 {width:693px; float:left; padding:21px 0 20px 0;}
	.txt693 {background:#dfdfdf; padding:8px 20px 10px 43px; font-size:11px; color:#000; line-height:18px; position:relative; margin-bottom:14px;font-weight: bold;}
		.alert1 {position:absolute; left:-17px; top:-11px;}


/*08-4*/
.table5 {margin:0 0 20px 23px;}
	.table5 th {font:bold 18px Trebuchet Ms; text-align:left; padding-bottom:9px;}
	.table5 td {}
		.table5 td ul {margin-right:100px;}
			.table5 td ul li {padding-bottom:2px;}
				.table5 td ul li span {font:bold 18px Trebuchet Ms;}
				.table5 td ul li a, .table5 td ul li a:visited {text-decoration:none;}


/*08-6*/
.blockThnx {background:url(/i/bg232a.jpg) no-repeat right 43px; margin:0 4px 0 4px;}
	.blockThnx h6 {text-align:center; font:22px Trebuchet Ms; padding:5px 0 38px 0;}
	.blockThnx p {padding-bottom:350px; width:410px; margin:auto;}
		.blockThnx p span {color:#f05922; font-size:18px; display:block;}
		.blockThnx p a, .blockThnx p a:visited {color:#f05922;}

/*09*/

.table9 {margin:-13px 0 50px 0;}
	.table9 td {vertical-align:top; padding-right:15px;}
		.table9 td h2 {font:bold italic 16px Trebuchet Ms; margin-bottom:10px;}
			.table9 td h2 span {background:#f8f7f3; padding:2px 5px 2px 5px;}
		.table9 td p {padding-bottom:10px;}
			.table9 td p span {color:#ff2a00; display:block;}
		.s18 {font-size:18px; display:block; padding-bottom:7px;}
			.s18 span {color:#727479;}
		.h29 {padding-top:10px;}	
			.h29 li {float:left; margin-right:20px;}
		
		.block238 {padding:17px 17px 0 17px; border:1px solid #efebeb; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); width:238px; margin-top:-5px;}
			.block238 ul {min-height:1px;}
				.block238 ul li {float:left; margin-bottom:15px;}
					.block238 ul li img {display:block;}

.list5 {width:100%; font:italic 16px Trebuchet Ms;}
	.list5 li {padding-bottom:8px; min-height:1px;}
		.list5 li div {position:relative; border:1px solid #efebeb; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); padding:5px;}
			.list5 li div span {cursor:pointer; text-decoration:underline;}
			.list5 li div img.down {position:absolute; right:7px; top:6px; cursor:pointer;}

/*10*/
.menu3 {padding:16px 0 0 0; font-weight:bold; position:relative; z-index:1;}
	.menu3 li {background:url(/i/pic5b.gif) no-repeat left 5px; padding:0 0 6px 10px;}
		.menu3 li a, .menu3 li a:visited {text-decoration:none;}
		.menu3 li a:hover {color:#f05922;}

.noBrd {border:none; padding-left:0;}
	.noBrd table {margin-left:0;}
	.list2 {padding:16px 10px 16px 0;}
		.list2 li {padding-bottom:28px;}
			.list2 li table {margin-bottom:2px;}
				.list2 li table td {padding-right:5px;}
					.list2 li table td span {background:#f25f29; color:#fff; font-size:11px; display:block; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; behavior: url(pie.htc); padding:0 3px 0 3px;}
					.list2 li table td img {position:relative; top:1px;}
			.list2 li p {color:#414246; line-height:14px; padding-bottom:6px;}
				.list2 li p a, .list2 li p a:visited {color:#282828; font-weight:bold; line-height:20px;}
			.list2 li div {color:#bababa; padding-top:10px; line-height:15px;}
				.list2 li div a, .list2 li div a:visited {color:#bababa;}


/*11*/	
.backlink1, .backlink1:visited {position:absolute; right:8px; top:9px; color:#858585; font:11px Trebuchet Ms;}
.txt6 {padding:19px 0 20px 0;}
	.txt6 table {}
		.txt6 table td {padding-right:5px;}
			.txt6 table td span {background:#f25f29; color:#fff; font-size:11px; display:block; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; behavior: url(pie.htc); padding:0 3px 0 3px;}
			.txt6 table td img {position:relative; top:1px;}
	.txt6 h2 {font:bold 14px Trebuchet Ms; padding-bottom:7px;}		
	.txt6 p {padding:0 10px 20px 0; line-height:16px;}
	.lcp {float:left; margin:0 10px 10px 0; position:relative; top:8px;}	
	
/*12*/	
.list3 {font-size:11px;}
	.list3 li {border-bottom:1px solid #efebec;}
		.list3 li.active3, .list3 li.active3:visited {background:url(/i/bg26a.gif) repeat-x top;}
		.list3 li a, .list3 li a:visited {display:block; height:20px; text-decoration:none; background:url(/i/pic5b.gif) no-repeat 7px 9px; padding:6px 0 0 20px;}
			.list3 li.active3 a, .list3 li.active3 a:visited {color:#fff; background:url(/i/pic5e.gif) no-repeat 7px 9px;}
		
.srv6 { background:url(/i/pic5b.gif) no-repeat 17px 18px; padding:12px 0 2px 30px;}
	.srv6 span {color:#8f8f8f; display:block;}	
	.srvLink2, .srvLink2:visited {display:block; float:right; color:#fff; background:#f05922; font-size:11px; text-align:center; padding:0 10px 0 11px; border-radius:5px 0 5px 0; -webkit-border-radius:5px 0 5px 0; -moz-border-radius:5px 0 5px 0; behavior: url(pie.htc); text-decoration:none;}
		.srvLink2 img, .srvLink2:visited img {margin-right:5px;}

.table6 {margin:0 0 20px 7px;}
	.table6 td { vertical-align:top; padding:0 10px 14px 0;}
		.table6 td p span {color:#f05922; font-size:15px;}
		.note1 {display:block; font-size:10px; color:#bababa;}
		
		.table6 .srv4 {padding-top:0;}
		.table6 ul {}
			.table6 ul li {float:left; padding-right:6px;}
				.table6 ul li span {position:relative; top:3px;}
		.table6 .btn140a, .table6 .btn140a:visited {display:block; float:right;}
		.table6 .w249 {margin-right:0 !important;}

/*13*/
.table2.z12 {font-size:14px; width:99%;}
	.table2.z12 th {font-size:13px;}
		.table2.z12 th div {padding-right:50px;}
			.table2.z12 td ul {padding:2px 0 0 20px;}
				.table2.z12 td ul li {float:left; padding-right:20px;}
					.table2.z12 td ul li img {display:block; cursor:pointer;}

.z12 .qx {font-size:12px; width:100%; margin:0;}
	.z12 .qx th div {padding-right:10px}
	.pic19 {cursor:pointer;}

/*14*/
.table7 {}
	.table7 td {vertical-align:top; padding-bottom:15px;}
		.profileId {margin-right:15px; position:relative; top:-5px;}
		.table7 td p {padding:0 20px 0 3px;}
		.table7 td select {border:1px solid #e3e3e3; border-radius:5px; width:215px; height:23px; padding-top:2px;}
			.table7 td p span {color:#f05922; font-size:15px;}	
		.table7 .srv4 {text-align:right; padding:0;}
	
.profList .table7 .srvLink1 img, .profList .table7 .srvLink1:visited img {float:left;}
	.profList li {padding-bottom:15px; margin-bottom:25px; border-bottom:1px solid #e6e6e6;}

/*15*/
.table8 {margin-left:3px;}
	.table8 td {padding:3px 10px 0 0;}
		.table8 td ul {padding:21px 0 0 0}
			.table8 td ul li {padding-bottom:8px;}
				.table8 td ul li input {display:none;}
				.table8 td ul li img {margin-right:8px; position:relative; top:3px;}
				.table8 td ul li a, .table8 td ul li a:visited {color:#bbb; font-size:12px; padding-left:5px;}

/*16*/
.list4 {margin:-8px 0 0 9px;}
	.list4 li {}
		.list4 li table {}
			.list4 li table td {vertical-align:top; padding:0 10px 15px 0;}
				.list4 li table td h2 {font:bold 14px Trebuchet Ms; padding-bottom:8px;}
				.list4 li table td p {line-height:15px; padding-bottom:10px;}
				.srvLink3, .srvLink3:visited {font-size:12px; color:#fff; background:#e05615; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; behavior: url(pie.htc); padding:1px 15px 1px 15px;}	

/*17*/
.block650 {padding:14px 0 9px 17px;}
	.block650 .h1 {padding-bottom:12px;}
	.block650 p {padding-bottom:13px;}
	.block650 ul {margin-top:-8px;}
		.block650 ul li {background:url(/i/pic5f.gif) no-repeat left top; padding:2px 0 7px 30px;}


/*18*/
.textBlock1 {margin-top:-15px;}
	.textBlock1 p {padding-bottom:18px;}
	.tableA {}
		.tableA th {font:18px Trebuchet Ms; text-align:left; padding:16px 0 10px 0;}
		.tableA td { vertical-align:top;}
			.tableA td table td {vertical-align:middle; padding:4px 30px 10px 0;}
			.tableA td p {padding-right:20px;}
	
	.block312 {padding:18px 10px 18px 10px; width:332px;  border:1px solid #efebec; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; behavior: url(pie.htc); margin-bottom:20px;}
	.list333 {list-style:disc; padding:0 0 20px 20px;}
		.list333 li {float:left; width:353px;}

	.tableB {margin-bottom:20px;}
		.tableB td {padding:0 20px 15px 0;}
		.tableB img {display:block; float:right;}
	
/*20*/				

.block404 {background:url(/i/bg404.jpg) no-repeat center bottom; height:497px; padding:14px 0 0 5px; margin-bottom:107px;}
	.block404 h1 {padding-bottom:123px;}
	.block404 p {width:300px; margin:auto; text-align:center; line-height:37px;}
		.block404 p a, .block404 p a:visited {color:#f05922;}
		
		
/*popup*/

#fade {position:absolute; left:0; top:0; width:100%; background:#000; z-index:506; display:none;}
#container2, #container3, #container560
	{position:absolute; left:0; top:240px; height:600px; width:100%; display:none; z-index:510;}
	#container2 .block980b,
	#container3 .block980b,
	#container560 .block980b
	 {margin:auto; width:980px; background:#fff;}
	#container2 .soc1,
	#container3 .soc1 {position:relative; top:80px}
	.closer67 {position:absolute; right:0; top:-20px; cursor:pointer;}
	#container2 .block620,
	#container3 .soc1 {margin-bottom:40px;}	
	#call_close{padding-left: 8px;}
	
*+html .list269 li {margin-bottom:-4px;}
*+html .menu2 ul li ul li.lst10 {border-radius:0;}

.parent-selected{
color: #A9A8AD;
}

.top_menu_sel{
	color: #FFFFFF;
	text-decoration: none;   
    height:33px; 
    padding:11px 33px 0 33px; 
    display: block;    
}

/*popups 29.08.2012*/
.popup560 {margin:auto; width:560px; display:none}
	.popup560Content {background:url(/i/bg560b.png) repeat-y left; position:relative; padding:8px 0 0 0; margin-bottom:-20px;}
		.popup560Content h6 {font:14px Trebuchet Ms; position:absolute; left:25px; top:-51px; color:#fff; width:512px;}
			.popup560Content h6 img {display:block; position:absolute; right:0; top:-1px; cursor:pointer;}

.dec398, .dec560 {display:block;}
.popup398 {margin:auto; width:398px; display:none}
	.popup398Content {background:url(/i/bg398b.png) repeat-y left; position:relative; padding:8px 0 0 0; margin-bottom:-20px; z-index:2;}
		.popup398Content h6 {font:14px Trebuchet Ms; position:absolute; left:25px; top:-51px; color:#fff; width:350px;}
			.popup398Content h6 img {display:block; position:absolute; right:0; top:-1px; cursor:pointer;}
		
		.table10,.table11 {margin:0 0 20px 35px; font:12px Tahoma;}
			.table10 td,.table11 td {padding:0 5px 15px 0;}
				.table10 td p,.table11 td p {color:#414145;}
					.table10 td p span,.table11 td p span {color:#f15922}
				.w170 {
				/*background:url(/i/bg170.gif) no-repeat; */
				background:#fff; border-left:1px solid #b7b7b7; border-top:1px solid #b7b7b7; border-right:1px solid #e4e3e3; border-bottom:1px solid #e4e3e3; border-radius:5px;
				width:163px; height:25px; padding-left:7px; line-height:25px; font:13px Trebuchet Ms; color:#b8b8b8;}	
				.w156 {background:url(/i/bg156.gif) no-repeat; width:149px; height:25px; padding-left:7px; line-height:25px; border:none; font:13px Trebuchet Ms; color:#b8b8b8;}	
				.sel1 {border:1px solid #ccc; border-radius:5px; width:215px; height:22px; font:12px Tahoma; color:#94949f;}
				.note2, .txt7 span, .note3red {font:10px Tahoma; color:#bababa !important;}
				.note3red{font:10px Tahoma; color:#DB5A00 !important;}
				.h92,.h93 {width:305px !important; height:82px; padding:5px; 
				background:#fff; border-left:1px solid #b7b7b7; border-top:1px solid #b7b7b7; border-right:1px solid #e4e3e3; border-bottom:1px solid #e4e3e3; border-radius:5px;
				font:11px Tahoma; 
				color:#94949f; position:relative; top:5px; /*margin-bottom:27px;*/ overflow:hidden;}
				.h93 {width:415px /*!important;*/}
				
				.h92b {width:206px; height:82px; padding:5px; background:url(/i/bg315.gif) no-repeat; border:none; font:11px Tahoma; color:#94949f; position:relative; top:5px; margin-bottom:27px; overflow:hidden;}
				.txt7 {position:relative;}
					.txt7 span {position:absolute; right:0; top:0;}
				.txt8 {font:10px Tahoma; color:#414145;}
					.txt8 span {color:#f15922;}
				.w67 {width:67px;}
				.qCell-2 {text-align:right; padding-right:3px;}
				.table10 .btn140, .table10 .btn140:visited, .table11 .btn140, .table11 .btn140:visited {
				position:relative; top:53px; float:left; margin-right:20px; position:relative; z-index:30;}
		.butArea {position:relative; margin-top:-70px;}
		.butArea2 {clear:both;}
			.butArea2 img {display:block; width:140px; margin:auto; position:relative; top:35px;}
.table10.q29 td ,.table11.q29 td {vertical-align:top;}
	.table10.q29 td p,.table11.q29 td p {padding:5px 10px 0 0;}
		.table10.q29 td p img,.table11.q29 td p img {margin:0 4px 0 4px; cursor:pointer;}
	.table10.q29 td ul,.table11.q29 td ul {padding:2px 0 0 3px;}
		.table10.q29 td ul li,.table11.q29 td ul li {float:left; width:220px; padding-bottom:10px;}
			.table10.q29 td ul li input,.table11.q29 td ul li input {display:none;}
			.table10.q29 td ul li img,.table11.q29 td ul li img {margin-right:10px;}
			.table10.q29 td ul li label,.table11.q29 td ul li label {cursor:pointer;}
	
.links29 {text-align:right; font-size:11px; position:relative; z-index:3;}
	.links29 a, .links29 a:visited {color:#414145; border-bottom:1px dotted #414145; text-decoration:none;}

.txt9 {padding-bottom:10px !important; font-weight:bold;}

.foot1 table {width:990px; position:relative; /*left:10px;*/}

.block460 {position:relative; width:460px; height:200px; overflow:hidden}
	.banner460 {display:none; z-index:1;}
	.block460 ul {position:absolute; z-index:2; left:15px; top:180px;}
		.block460 ul li {float:left; background:url(/i/pic8.gif) no-repeat; padding-right:5px;}
			.block460 ul li.active29 {background:url(/i/pic8active.gif) no-repeat;}
			.block460 ul li img {display:block; cursor:pointer;}
			
.vis29 {display:none;}			

.list269 li {position:relative;}
	.list269 li a, .list269 li a:visited {color:#fff; text-decoration:none;}
	.list269 li span {position:absolute; left:10px; top:77px; font:italic 14px Treubuchet Ms;}

.block711 {position:relative; width:711px; height:310px; overflow:hidden;}
	.banner711 {position:relative; z-index:1; display:none;}
	.block711 ul {position:absolute; left:20px; top:280px; z-index:2;}
		.block711 ul li {float:left; background:url(/i/pic14c.gif) no-repeat; padding-right:5px;}
			.block711 ul li.active30 {background:url(/i/pic14b.gif) no-repeat;}
				.block711 ul li img {display:block; cursor:pointer;}
				
#srv1 {position:absolute; width:100%; height:900px; z-index:438; left:0; top:0; display:none;}
#srv1_header {position:absolute; width:100%; height:900px; z-index:439; left:0; top:0; display:none;}
.srv7, .srv7:visited {margin-top:-22px;}

.menu1 ul li ul li.active308 {background:#6e6d6d;}
.list171 ul li {border:1px solid #fff; border-radius:5px;}

.table_view,.block_view{
cursor: pointer;
}

/*town contacts*/
p.h1, div.h1 {position:relative; font:bold 22px Trebuchet Ms;}
div.h1 {width:450px;}
.selector04 {font-size:12px; background:url(/i/dot1-f25f29.gif) repeat-x bottom; position:relative;
left:20px; color:#f25f29; cursor:pointer;}
	.selector04 img {border-bottom:4px solid #fff; position:absolute; top:-2px; right:-27px;}


.list173 {position:absolute; right:10px; top:0; background:#fff; z-index:4; width:171px; border:3px solid #ebebeb;
border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
behavior: url(pie.htc); display:none; font:13px Trebuchet Ms;}
	.list173 p {font:bold 15px Trebuchet Ms; padding:2px 0 2px 7px; border-bottom:1px solid #ebebeb;}
		.list173 p span {background:none;}
	.list173 ul {height:180px; padding:10px 0 0 0;}
		.list173 ul li {cursor:pointer; height:18px; overflow:hidden; padding-left:9px; margin-bottom:2px;}
		
span.button_forms{
color:#fff;
text-decoration: underline;
background-color: #e05615;
border-radius: 5px;
height: 20px;
padding: 5px 15px;
cursor: pointer;
display: block;
}
div.rbutton{
float: left;
position: relative;
left: 308px;
 margin-bottom: 10px;
}
div.lbutton{
float: left;
 margin-bottom: 10px;
 
}
img.sol_bp,ul.mini_pic_list li{
 border: 1px solid #EFEBEC;
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    position: relative;
}
ul.mini_pic_list{
margin-left: 15px;

}
ul.mini_pic_list li {
float: left;
padding: 5px;
margin-right: 10px;
margin-bottom: 10px;
}
div.border{
border-bottom: 1px solid #EFEBEC;
clear: both;
margin-bottom: 10px;
}


.list_sol {padding:14px 0 9px 17px;}
				.list_sol li {background:url(/i/pic21b.gif) no-repeat left top; padding:2px 0 7px 30px;}
					.list_sol li a,.list_sol li div, .list_sol li a:visited {
					font-weight:bold;
					text-decoration:none;
					margin-top: -2px;
					}
.list_sol li a:hover {
text-decoration:underline;
}
.list_sol a:visited {
color:#F05922;
}
td.prod_list,td.lic_list{
vertical-align: top;
}
td.lic_list{
padding-left: 20px;
}
ul.vid_prod li a,td.lic_list a{
color: #282828;
}
ul.vid_prod li a:first-letter{
text-transform: uppercase;
}
.vid_prod li a:hover {
text-decoration:underline;
}
.vid_prod a:visited {
color:#F05922;
}
.voscl {background:#dfdfdf; margin-left: 20px;
    margin-top: 20px;
    padding:8px 20px 10px 43px; font-size:11px; color:#000; line-height:18px; position:relative; margin-bottom:14px;font-weight: bold;}
		.voscl .alert1 {position:absolute; left:-17px; top:-11px;}
		
ul.search_arr li{
	list-style-image: url(/i/sarrow.jpg);
	font-size: 12px;
}		
ul.search_arr li b{
color: #f15922;
}

#call_close {
    padding-left: 0px;
    position: absolute;
    width: 140px;
    left: 48px;
    cursor: pointer;
    margin-top:26px;
    
}

#suber{
    margin-top:26px;
    padding-left: 0px;
    left: 200px;
    position: absolute;
    width: 140px;
    cursor: pointer;    
}
#suber2,#call_close2{
cursor: pointer;
}
div.fo_but_bot,div.fo_but_bot560a{
	position:relative;
}
div.clear_basket_note{
text-align: center;
font-size: 16pt;
}

.play {
    left: 48px;
    position: absolute;
    top: 15px;
    cursor: pointer;
}
.pause{
   left: 69px;
    position: absolute;
    top: 15px;
    cursor: pointer;
}

.mute {
    left: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
}

a.more,a.more:visited {
font-style: italic;
color: #A79E9F;
}

p.red{color:#DB5A00 !important;}
.note3{

padding-bottom: 10px  !important;
font:10px Tahoma; color:#bababa !important;
}
table.pad tr td{
padding-bottom: 5px;
}

img.mini_img {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: left;
    height: 100%;
    margin-right: 10px;
}

.shop-section-title{
    display: table-cell;
    height: 61px;
    vertical-align: middle;
    width: 172px;
}

.menu-switcher{
    position: absolute;
    height: 23px;
    width: 18px;
    cursor: pointer;
}

#big_image_wrap{
    background-color: #FFFFFF;
    border: 1px solid #EBEBED;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
}

#big_image_wrap img{
    border-radius: 10px;
}

#simul_form1 {
    background-color: #F5F3F3;
}
    #simul_form1 form {
         background-color: #f5f3f3;
        width: 345px;
        height: 360px;
    }
            #simul_form1 table {
                font: 12px Tahoma;
                margin: 0 0 20px 16px;
            }
                #simul_form1 table td {
                    padding: 16px 5px 0 0;
                }

div.rbutton-long{
    float: left;
    position: relative;
    left: 217px;
    margin-bottom: 10px;
}

.bottom-form-title {
    font: 15px Trebuchet MS !important;
}