html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i, em {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

s {
    text-decoration: line-through;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 13px;
    line-height: 1.23;
    color: #333333;
    background: #fff url(../images/main-bg.jpg) 50% 100px no-repeat fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-height: 680px) {
    body {
        background-position: 50% 60px;
    }
}

@media only screen and (max-width: 992px) {
    body {
        background-position: 50% 0;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button, input {
    font-family: Arial, sans-serif;
    outline: none;
}

::selection,
::-moz-selection {
    background: #000;
    color: #fff;
}

.container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
}

/*----------------------> Links And buttons <------------------*/
a {
    color: #fff;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

.play-btn {
    display: inline-block;
    position: relative;
    border: none;
    background: none;
    font-weight: 900;
    font-size: 14px;
    color: #3DCD58;
    text-align: center;
}

.play-btn::before {
    box-shadow: -5px 5px 18px rgba(0, 0, 0, 0.16);
    display: block;
    margin: 0px auto 5px;
    border-radius: 19px;
    width: 105px;
    height: 64px;
    background: #3DCD58 url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17' cy='17' r='16.8' fill='white'/%3E%3Cpath d='M26.6348 15.6881C27.6287 16.2804 27.6287 17.7197 26.6348 18.312L13.3908 26.2051C12.3728 26.8118 11.0816 26.0783 11.0816 24.8931L11.0816 9.10693C11.0816 7.92181 12.3728 7.18826 13.3908 7.79499L26.6348 15.6881Z' fill='%233DCD58'/%3E%3C/svg%3E%0A") 50% no-repeat;
    content: "";
}

/*----------------------> Basic Classes <------------------*/
.reg {
    text-transform: uppercase;
}

.f_left {
    float: left;
}

.f_right {
    float: right;
}

.al_left {
    text-align: left;
}

.al_right {
    text-align: right;
}

.al_center {
    text-align: center;
}

.it {
    font-style: italic;
}

.let {
    letter-spacing: -1px;
}

.full_w {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.val_mid {
    vertical-align: middle;
}

/*----------------------> Positions <------------------*/
.p_abs {
    position: absolute;
}

.p_rel {
    position: relative;
}

.p_fix {
    position: fixed;
}

.clear {
    clear: both;
    width: 100%;
    line-height: 0;
    font-size: 0;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrapper {
    overflow: hidden;
}

/*----------------------> Displays <------------------*/
.d_block {
    display: block;
}

.d_ib {
    display: inline-block;
}

.d_none {
    display: none;
}

.d_tc {
    display: table-cell;
}

.d_t {
    display: table;
}

/*=====================> Paragraphs ========================*/
p {
    margin-bottom: 18px;
}

/*=====================> Titles ========================*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/*================================>> hovers <<========================================*/
a {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

a:hover {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/**
 * Swiper 3.4.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: October 16, 2016
 */
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
    float: left;
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform, height;
}

/* a11y */
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* Pagination Styles */
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
}

/* Bullets */
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000;
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    -moz-transform: translate3d(0px, -50%, 0);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}

/* Progress */
.swiper-pagination-progress {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
}

.swiper-container-vertical > .swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
}

.swiper-pagination-progress.swiper-pagination-white {
    background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff;
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000;
}

/* 3D Container */
.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
    /* Windows 8 IE 10 fix */
    -ms-perspective: 1200px;
}

/* Cube + Flip */
.swiper-container-cube,
.swiper-container-flip {
    overflow: visible;
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Cube */
.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
    pointer-events: auto;
    visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Scrollbar */
.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}

#svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #fff;
    stroke-width: 2px;
}

#svg #bar {
    stroke: #3DCD58;
}

#cont {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 48px;
    width: 48px;
    border-radius: 100%;
}

.header {
    position: fixed;
    right: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #3DCD58;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 3px 0 0;
}

@media only screen and (max-height: 680px) {
    .header__inner {
        height: 60px;
    }

    .header__logo {
        width: 156px;
        position: relative;
        z-index: 999;
    }

    .header__logo img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .header__inner {
        height: 45px;
    }

    .header__logo {
        width: 156px;
        position: relative;
        z-index: 999;
    }

    .header__logo img {
        max-width: 100%;
        height: auto;
    }
}

.nav {
    font-size: 15px;
    line-height: 1.2;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 60px;
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    color: #157A29;
}

.nav a:active {
    color: #085116;
}

@media only screen and (max-width: 1300px) {
    .nav {
        padding-right: 20px;
    }

    .nav__item {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 992px) {
    .nav {
        position: fixed;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 99;
        background-color: #3DCD58;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: 22px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        transition: all ease 800ms;
    }

    .nav__list {
        display: block;
        text-align: center;
    }

    .nav__item {
        margin: 50px 0;
    }

    .nav__item a {
        text-decoration: none;
    }
}

@media only screen and (max-width: 479px) {
    .nav__item {
        margin: 25px 0;
    }
}

@media only screen and (max-width: 992px) {
    .resp-toggle-btn {
        display: inline-block;
        border: none;
        cursor: pointer;
        outline: none;
        width: 50px;
        height: 40px;
        top: 3px;
        right: 5px;
        position: absolute;
        background: none;
        z-index: 999;
    }

    .navTrue .nav {
        bottom: 0;
    }

    .resp-toggle-btn span {
        display: block;
        position: absolute;
        height: 3px;
        border-radius: 3px;
        left: 13px;
        right: 13px;
        background-color: #fff;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    .resp-toggle-btn span.line1 {
        top: 11px;
    }

    .resp-toggle-btn span.line2 {
        top: 19px;
    }

    .menu > .hasUl > a::after {
        right: 22px;
    }

    .resp-toggle-btn span.line3 {
        top: 27px;
    }

    .navTrue .resp-toggle-btn span {
        left: 10px;
        right: 10px;
    }

    .navTrue .resp-toggle-btn span.line1 {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 19px;
    }

    .navTrue .resp-toggle-btn span.line2 {
        opacity: 0;
    }

    .navTrue .resp-toggle-btn span.line3 {
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 19px;
    }
}

#fp-nav.state-passive {
    z-index: -1 !important;
}

.slides-pagination,
#fp-nav.fp-right {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 100px 0 0;
    left: 50%;
    width: 16px;
    z-index: 10;
    margin-left: -630px;
    display: flex !important;
    align-items: center;
    transform: none;
}

@media only screen and (max-width: 1400px) {
    .slides-pagination,
    #fp-nav.fp-right {
        margin-left: 0;
        left: 25px;
    }
}

@media only screen and (max-width: 992px) {
    .slides-pagination,
    #fp-nav.fp-right {
        display: none !important;
    }
}

.slides-pagination li,
#fp-nav.fp-right li {
    margin: 16px 0;
    width: auto;
    height: auto;
}

.slides-pagination a span,
#fp-nav.fp-right a span {
    display: none;
}

.slides-pagination__item,
.slides-pagination li a,
#fp-nav.fp-right__item,
#fp-nav.fp-right li a {
    margin: 0 auto;
    width: 16px;
    height: 16px;
    position: relative;
    background: none;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
}

.slides-pagination__item::before,
.slides-pagination li a::before,
#fp-nav.fp-right__item::before,
#fp-nav.fp-right li a::before {
    min-width: 10px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    border: 1.41176px solid rgba(255, 255, 255, 0.5);
    transition: all ease 300ms;
    margin: 0 auto;
    content: "";
}

.slides-pagination__item:hover::after, .slides-pagination__item.active::after,
.slides-pagination li a:hover::after,
.slides-pagination li a.active::after,
#fp-nav.fp-right__item:hover::after,
#fp-nav.fp-right__item.active::after,
#fp-nav.fp-right li a:hover::after,
#fp-nav.fp-right li a.active::after {
    opacity: 1;
    transition: all ease 150ms;
    transition-delay: 100ms;
}

.slides-pagination__item:hover::before, .slides-pagination__item.active::before,
.slides-pagination li a:hover::before,
.slides-pagination li a.active::before,
#fp-nav.fp-right__item:hover::before,
#fp-nav.fp-right__item.active::before,
#fp-nav.fp-right li a:hover::before,
#fp-nav.fp-right li a.active::before {
    min-width: 14px;
    height: 14px;
    background-color: #fff;
    border-color: white;
    transition: all ease 150ms;
}

.section__next-btn {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    display: block;
    background: url("data:image/svg+xml,%3Csvg width='50' height='27' viewBox='0 0 50 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.6163 26.1605L49.4404 3.2731C50.1878 2.52322 50.1865 1.30915 49.4366 0.560527C48.6867 -0.187516 47.4719 -0.185583 46.724 0.564393L25.2584 22.0895L3.79282 0.563617C3.04478 -0.186262 1.8308 -0.188195 1.08083 0.559751C0.704872 0.935029 0.516891 1.42667 0.516891 1.91831C0.516891 2.40869 0.703613 2.8984 1.07696 3.273L23.9005 26.1605C24.2598 26.5217 24.7488 26.7243 25.2584 26.7243C25.7679 26.7243 26.2563 26.5211 26.6163 26.1605Z' fill='white'/%3E%3C/svg%3E%0A") 50% 0 no-repeat;
    animation: scroll1 1.2s infinite;
    z-index: 10;
    cursor: pointer;
}

.section:last-child .section__next-btn {
    display: none;
}

@media only screen and (max-width: 992px) {
    .section__next-btn {
        bottom: 15px;
        animation: none;
    }
}

@media only screen and (max-width: 767.98px) {
    .section__next-btn {
        animation: none;
        display: none;
    }
}

.slide {
    display: flex;
    align-items: center;
    float: none;
    height: 100vh;
    padding: 50px 0 50px 85px;
    position: relative;
    overflow: hidden;
}

.slide__content {
    position: relative;
    z-index: 100;
}

.slide__title {
    font-weight: 900;
    font-size: 64.1316px;
    line-height: 1;
    color: #FFFFFF;
    max-width: 640px;
    margin-bottom: 29px;
}

.slide__caption {
    font-weight: bold;
    font-size: 43.7903px;
    line-height: 1.21;
    color: #FFFFFF;
    max-width: 1020px;
    position: absolute;
    top: 150%;
    left: 0;
}

.slide__caption.state-active {
    animation: captionSlide 7s;
}

.slide__captions {
    overflow: hidden;
    position: relative;
    height: 165px;
}

@media only screen and (max-width: 1400px) {
    .slide {
        padding-right: 50px;
    }
}

@media only screen and (max-height: 680px) {
    .slide {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .slide {
        padding: 50px 50px 50px;
    }

    .slide__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .slide__caption {
        max-width: 80%;
        font-size: 26px;
    }
}

@media only screen and (max-width: 767.98px) {
    .slide {
        padding: 80px 50px 50px;
        height: auto;
        min-height: 100vh;
    }

    .slide__title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .slide__caption {
        max-width: 80%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .slide {
        align-items: flex-start;
        padding: 70px 15px 15px;
    }

    .slide__title {
        font-size: 24px;
    }

    .slide__caption {
        max-width: 100%;
        font-size: 16px;
    }
}

@keyframes captionSlide {
    0% {
        top: 150%;
    }
    20% {
        top: 0;
    }
    80% {
        top: 0;
    }
    100% {
        top: -150%;
    }
}

@keyframes scroll1 {
    0% {
        background-position: 50% 0;
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        background-position: 50% 100%;
    }
}

.scroll-next {
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 575px) {
    .scroll-next {
        display: block;
        width: 50px;
        height: 50px;
        visibility: visible;
        border-radius: 50%;
        background: #3DCD58 url("data:image/svg+xml,%3Csvg width='24' height='14' viewBox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.10519 3.29409L10.7876 12.9765C11.5429 13.7279 12.7628 13.7279 13.5181 12.9765L23.2005 3.29409C23.8221 2.56987 23.8221 1.49898 23.2005 0.774757C22.5053 -0.0366679 21.2815 -0.131494 20.47 0.563721L12.1625 8.87114L3.83566 0.563622C3.08038 -0.187746 1.86046 -0.187746 1.10519 0.563621C0.353824 1.31889 0.353824 2.53892 1.10519 3.29409Z' fill='white'/%3E%3C/svg%3E%0A") 50% 55% no-repeat;
        position: fixed;
        bottom: 50px;
        right: 15px;
        border: none;
    }
}

@media only screen and (max-width: 767.98px) {
    .fp-responsive .fp-section,
    .fp-responsive .fp-tableCell,
    .fp-responsive .fp-slides {
        height: auto !important;
    }

    .fp-responsive .fp-slides {
        overflow: visible;
    }

    .fp-responsive .fp-section.fp-table, .fp-responsive .fp-slide.fp-table {
        display: flex;
    }

    .fp-responsive .fp-tableCell {
        display: block;
        width: 100%;
        height: auto;
    }

    .fp-responsive .fp-slidesContainer {
        float: none;
    }
}

@media only screen and (max-width: 575px) {
    .slides .section:last-child .slide {
        height: auto;
    }
}

.features__item {
    min-height: 219px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 21.2518px;
    line-height: 24px;
    color: #0B0B0B;
    margin: 10px 0;
}

.features__item-img {
    width: calc(38% - 5px);
    background-color: #3DCD58;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__item-img img {
    max-width: 100%;
    height: auto;
}

.features__item-caption {
    background-color: #FFFFFF;
    width: calc(62% - 5px);
    padding: 30px 20px;
    font-size: 24px;
    line-height: 28px;
}

.features__item:nth-child(odd) .features__item-img {
    order: 2;
}

@media only screen and (max-width: 767.98px) {
    .features__item {
        font-size: 14px;
        line-height: 16px;
        min-height: 0;
    }
}

.product {
    display: flex;
}

.product__img {
    width: 56%;
    background-color: #fff;
    padding: 30px 20px;
    position: relative;
    text-align: center;
}

.product__img img {
    max-width: 100%;
    height: auto;
}

.product__img .play-btn {
    position: absolute;
    right: 42px;
    bottom: 62px;
    z-index: 10;
    cursor: pointer;
}

.product__caption {
    width: 54%;
    background-color: #F1F1F1;
    padding: 43px 40px 100px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    position: relative;
}

.product__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 29px;
    color: #3DCD58;
    margin: 0 0 45px;
    text-align: left;
}

.product__title-2 {
    font-weight: 900;
    font-size: 22px;
    line-height: 23px;
    color: #333333;
    margin-bottom: 18px;
}

.product__price {
    font-size: 33px;
    line-height: 24px;
    color: #333333;
    font-weight: 700;
    margin: 15px 0 0;
}

.product__price-label {
    font-weight: 400;
    font-size: 18px;
}

.product__btn-wrap {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

.product__btn_l {
    background-color: #d1d1d1;
    font-weight: 900;
    font-size: 22px;
    line-height: 81px;
    white-space: nowrap;
    text-align: center;
    color: #FFFFFF;
    width: 305px;
    display: inline-block;
}

.product__btn {
    background-color: #3DCD58;
    font-weight: 900;
    font-size: 22px;
    line-height: 81px;
    white-space: nowrap;
    text-align: center;
    color: #FFFFFF;
    width: 305px;
    display: inline-block;
}

.product__btn:hover {
    color: #fff;
    background-color: #33C34E;
}

.product__btn:active {
    color: #fff;
    background-color: #209E38;
}

@media only screen and (max-width: 767.98px) {
    .product {
        display: block;
        position: relative;
        z-index: 10;
    }

    .product__img, .product__caption {
        width: 100%;
    }

    .product__img {
        padding: 15px;
    }

    .product__img img {
        width: auto;
        height: 120px;
    }

    .product__title {
        font-weight: 900;
        font-size: 18px;
        line-height: 1;
        color: #3DCD58;
        margin-bottom: 10px;
        padding-right: 120px;
    }

    .product__title-2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .product__caption {
        font-size: 14px;
        line-height: 18px;
        padding: 15px 15px 80px;
    }

    .product__price-label {
        font-size: 14px;
    }

    .product__price {
        font-size: 25px;
    }

    .product__btn-wrap {
        left: 0;
    }

    .product__btn {
        display: block;
        width: 100%;
        line-height: 65px;
        font-size: 18px;
    }

    .product .play-btn {
        bottom: auto;
        right: 25px;
        top: 25px;
        font-size: 11px;
        line-height: 1;
    }

    .product .play-btn::before {
        width: 50px;
        height: 30px;
        box-shadow: -2.37931px 2.37931px 8.56552px rgba(0, 0, 0, 0.16);
        border-radius: 9.04138px;
        background-size: 12px auto;
    }
}

.products {
    overflow: visible;
    position: relative;
    z-index: 20;
}

.products .swiper-wrapper {
    align-items: stretch;
}

.products .swiper-scrollbar {
    left: 50%;
    right: 40px;
    width: auto;
    height: 12px;
    bottom: -41px;
    margin-left: -130px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

.products .swiper-scrollbar .swiper-scrollbar-drag {
    background: #FFFFFF;
    border-radius: 3px;
    height: 16px;
    margin-top: -2px;
}

@media only screen and (max-width: 1360px) {
    .products .swiper-scrollbar {
        margin-left: 0;
        left: 480px;
    }
}

@media only screen and (max-height: 680px) {
    .products .swiper-scrollbar {
        bottom: -25px;
    }
}

@media only screen and (max-width: 992px) {
    .products .swiper-scrollbar {
        left: 300px;
    }
}

.products__part-title {
    font-weight: 900;
    font-size: 28px;
    line-height: 29px;
    color: #3DCD58;
    left: 20px;
    top: 25px;
    z-index: 10;
    position: absolute;
    min-width: 800px;
}

.products__item--extra .products__part-title {
    min-width: 0;
    max-width: 385px;
}

.products__item {
    width: 335px;
    background-color: #fff;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
    height: 100%;
    min-height: 100%;
    padding: 100px 25px 75px;
    position: relative;
}

@media only screen and (max-height: 680px) {
    .products__item {
        padding-top: 60px;
    }
}

.products__item--intro {
    background: none;
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    width: 480px;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-right: 80px;
}

@media only screen and (max-width: 992px) {
    .products__item--intro {
        width: 300px;
        font-size: 24px;
        line-height: 1.2;
    }
    .features__item-caption {
        font-size: 14px;
        line-height: 16px;
    }
}

.products__item--separator {
    margin-left: 30px;
    z-index: 100;
}

.products__item--extra {
    width: 385px;
}

.products__item-img {
    margin-bottom: 10px;
}

.products__item-title {
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
    margin-bottom: 5px;
}

.products__item-btns {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 25px 25px;
}

.products__btn {
    background: #3DCD58;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    line-height: 39px;
    white-space: nowrap;
    padding: 0 20px;
    width: 145px;
    text-align: center;
    color: #FFFFFF;
}

.products__btn:hover {
    color: #fff;
    background-color: #33C34E;
}

.products__btn:active {
    color: #fff;
    background-color: #209E38;
}

.products__download-btn {
    width: 39px;
    height: 39px;
    display: block;
    background: #E8E8E8 url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4636 12.5737C17.0778 12.5737 16.7651 12.8865 16.7651 13.2723V17.4636C16.7651 17.8494 16.4523 18.1621 16.0665 18.1621H2.09567C1.70986 18.1621 1.39712 17.8494 1.39712 17.4636V13.2723C1.39712 12.8865 1.08437 12.5737 0.698558 12.5737C0.312749 12.5737 0 12.8865 0 13.2723V17.4636C0 18.6209 0.938246 19.5592 2.09563 19.5592H16.0665C17.2239 19.5592 18.1622 18.6209 18.1622 17.4636V13.2723C18.1622 12.8865 17.8494 12.5737 17.4636 12.5737Z' fill='%238D8D8D'/%3E%3Cpath d='M13.0519 12.0799C12.7812 11.8185 12.352 11.8185 12.0814 12.0799L9.77965 14.3802V0.698558C9.77965 0.312749 9.4669 0 9.08109 0C8.69528 0 8.38253 0.312749 8.38253 0.698558V14.3803L6.0822 12.0799C5.8047 11.8119 5.36249 11.8196 5.09447 12.0971C4.83301 12.3678 4.83301 12.7969 5.09447 13.0677L8.58718 16.5604C8.85965 16.8335 9.30195 16.8341 9.57508 16.5616C9.57549 16.5612 9.57589 16.5608 9.57634 16.5604L13.0691 13.0677C13.3371 12.7902 13.3294 12.3479 13.0519 12.0799Z' fill='%238D8D8D'/%3E%3C/svg%3E%0A") 50% no-repeat;
    margin-left: 10px;
}

.products__download-btn:hover {
    background-color: #DED9D9;
}

.products__download-btn:active {
    background-color: #8D8D8D;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4636 12.5737C17.0778 12.5737 16.7651 12.8865 16.7651 13.2723V17.4636C16.7651 17.8494 16.4523 18.1621 16.0665 18.1621H2.09567C1.70986 18.1621 1.39712 17.8494 1.39712 17.4636V13.2723C1.39712 12.8865 1.08437 12.5737 0.698558 12.5737C0.312749 12.5737 0 12.8865 0 13.2723V17.4636C0 18.6209 0.938246 19.5592 2.09563 19.5592H16.0665C17.2239 19.5592 18.1622 18.6209 18.1622 17.4636V13.2723C18.1622 12.8865 17.8494 12.5737 17.4636 12.5737Z' fill='%23514D4D'/%3E%3Cpath d='M13.0519 12.0799C12.7812 11.8185 12.352 11.8185 12.0814 12.0799L9.77965 14.3802V0.698558C9.77965 0.312749 9.4669 0 9.08109 0C8.69528 0 8.38253 0.312749 8.38253 0.698558V14.3803L6.0822 12.0799C5.8047 11.8119 5.36249 11.8196 5.09447 12.0971C4.83301 12.3678 4.83301 12.7969 5.09447 13.0677L8.58718 16.5604C8.85965 16.8335 9.30195 16.8341 9.57508 16.5616C9.57549 16.5612 9.57589 16.5608 9.57634 16.5604L13.0691 13.0677C13.3371 12.7902 13.3294 12.3479 13.0519 12.0799Z' fill='%23514D4D'/%3E%3C/svg%3E%0A");
}

.products__play-btn {
    width: 39px;
    height: 39px;
    display: block;
    background: #E8E8E8 url("data:image/svg+xml,%3Csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6348 8.90623C16.6287 9.49854 16.6287 10.9378 15.6348 11.5301L2.3908 19.4232C1.37276 20.03 0.0816374 19.2964 0.0816375 18.1113L0.0816381 2.32507C0.0816382 1.13995 1.37276 0.406404 2.3908 1.01313L15.6348 8.90623Z' fill='%233DCD58'/%3E%3C/svg%3E%0A") 50% no-repeat;
    margin-left: 10px;
}

.products__play-btn:hover {
    background-color: #DED9D9;
}

.products__play-btn:active {
    background-color: #8D8D8D;
}

@media only screen and (max-width: 575px) {
    .products {
        display: none;
    }
}

.products-mob {
    display: none;
}


@media only screen and (max-width: 575px) {
    .products-mob {
        display: flex;
        flex-wrap: wrap;
        margin-right: -10px;
    }

    .products-mob__item {
        font-weight: 900;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        width: calc(50% - 10px);
        margin-right: 10px;
        margin-bottom: 25px;
    }

    .products-mob__item--intro {
        color: #fff;
        font-weight: 900;
        font-size: 29.5798px;
        line-height: 34px;
        color: #FFFFFF;
        display: flex;
        width: 100%;
        height: auto;
        min-height: 80vh;
        align-items: center;
        margin: 0;
    }

    .products-mob__item--extra {
        width: 100%;
    }

    .products-mob__item-img {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        background-position: 50%;
        margin-bottom: 10px;
    }

    .products-mob__item--extra .products-mob__item-img {
        padding-bottom: 50%;
    }

    .products-mob__title {
        font-weight: 900;
        font-size: 22px;
        line-height: 22px;
        color: #FFFFFF;
        width: 100%;
        margin-bottom: 20px;
    }

    .products-mob__item-description {
        display: none;
    }
}
.section--mobile .products-mob {
    display: block;
}
.section--mobile .products-mob {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
}

.section--mobile .products-mob__item {
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    width: 130px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.section--mobile .products-mob__item--intro {
    color: #fff;
    font-weight: 900;
    font-size: 29.5798px;
    line-height: 34px;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    margin: 0 0 30px;
}

.section--mobile .products-mob__item--extra {
    width: 200px;
}

.section--mobile .products-mob__item-img {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: 50%;
    margin-bottom: 10px;
}

.section--mobile .products-mob__item--extra .products-mob__item-img {
    padding-bottom: 50%;
}

.section--mobile .products-mob__title {
    font-weight: 900;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 20px;
}

.section--mobile .products-mob__item-description {
    display: none;
}
.section--mobile .products-mob-w {
    display: flex;
    width: 100%;
}
.section--mobile .products-mob-ib {
    width: 50%;
}
.section--mobile .products-mob-i {
    display: flex;
}

.product-popup {
    position: fixed;

    width: calc(100% - 45px);
    top: 45px;
    right: -100%;
    bottom: 0;
    z-index: 99;
    background-color: #fff;
    padding: 15px 20px 50px;
    transition: all ease 500ms;
}

.product-popup.state-active {
    right: 0;
}

.product-popup.state-active::before {
    visibility: visible;
    opacity: .6;
}

.product-popup::before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200%;
    right: 100%;
    transition: all ease 500ms;
    background: #000;
    opacity: 0;
    visibility: hidden;
    content: "";
}

.product-popup__close {
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.12134' y='0.307617' width='23' height='3' rx='1.5' transform='rotate(45 2.12134 0.307617)' fill='white'/%3E%3Crect y='16.571' width='23' height='3' rx='1.5' transform='rotate(-45 0 16.571)' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
    display: block;
    position: absolute;
    border: none;
    top: 20px;
    left: -34px;
}

.product-popup__img {
    margin-bottom: 15px;
}

.product-popup__img img {
    max-height: 150px;
    height: auto;
}

.product-popup__title {
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
    margin-bottom: 5px;
}

.product-popup__btns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.product-popup__btn {
    background: #3DCD58;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    line-height: 54px;
    white-space: nowrap;
    padding: 0 20px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 10px;
}

.product-popup__btn:hover {
    color: #fff;
    background-color: #33C34E;
}

.product-popup__btn:active {
    color: #fff;
    background-color: #209E38;
}

.product-popup__download-btn {
    width: 70px;
    height: 54px;
    display: block;
    background: #E8E8E8 url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4636 12.5737C17.0778 12.5737 16.7651 12.8865 16.7651 13.2723V17.4636C16.7651 17.8494 16.4523 18.1621 16.0665 18.1621H2.09567C1.70986 18.1621 1.39712 17.8494 1.39712 17.4636V13.2723C1.39712 12.8865 1.08437 12.5737 0.698558 12.5737C0.312749 12.5737 0 12.8865 0 13.2723V17.4636C0 18.6209 0.938246 19.5592 2.09563 19.5592H16.0665C17.2239 19.5592 18.1622 18.6209 18.1622 17.4636V13.2723C18.1622 12.8865 17.8494 12.5737 17.4636 12.5737Z' fill='%238D8D8D'/%3E%3Cpath d='M13.0519 12.0799C12.7812 11.8185 12.352 11.8185 12.0814 12.0799L9.77965 14.3802V0.698558C9.77965 0.312749 9.4669 0 9.08109 0C8.69528 0 8.38253 0.312749 8.38253 0.698558V14.3803L6.0822 12.0799C5.8047 11.8119 5.36249 11.8196 5.09447 12.0971C4.83301 12.3678 4.83301 12.7969 5.09447 13.0677L8.58718 16.5604C8.85965 16.8335 9.30195 16.8341 9.57508 16.5616C9.57549 16.5612 9.57589 16.5608 9.57634 16.5604L13.0691 13.0677C13.3371 12.7902 13.3294 12.3479 13.0519 12.0799Z' fill='%238D8D8D'/%3E%3C/svg%3E%0A") 50% no-repeat;
}

.product-popup__download-btn:hover {
    background-color: #DED9D9;
}

.product-popup__download-btn:active {
    background-color: #8D8D8D;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4636 12.5737C17.0778 12.5737 16.7651 12.8865 16.7651 13.2723V17.4636C16.7651 17.8494 16.4523 18.1621 16.0665 18.1621H2.09567C1.70986 18.1621 1.39712 17.8494 1.39712 17.4636V13.2723C1.39712 12.8865 1.08437 12.5737 0.698558 12.5737C0.312749 12.5737 0 12.8865 0 13.2723V17.4636C0 18.6209 0.938246 19.5592 2.09563 19.5592H16.0665C17.2239 19.5592 18.1622 18.6209 18.1622 17.4636V13.2723C18.1622 12.8865 17.8494 12.5737 17.4636 12.5737Z' fill='%23514D4D'/%3E%3Cpath d='M13.0519 12.0799C12.7812 11.8185 12.352 11.8185 12.0814 12.0799L9.77965 14.3802V0.698558C9.77965 0.312749 9.4669 0 9.08109 0C8.69528 0 8.38253 0.312749 8.38253 0.698558V14.3803L6.0822 12.0799C5.8047 11.8119 5.36249 11.8196 5.09447 12.0971C4.83301 12.3678 4.83301 12.7969 5.09447 13.0677L8.58718 16.5604C8.85965 16.8335 9.30195 16.8341 9.57508 16.5616C9.57549 16.5612 9.57589 16.5608 9.57634 16.5604L13.0691 13.0677C13.3371 12.7902 13.3294 12.3479 13.0519 12.0799Z' fill='%23514D4D'/%3E%3C/svg%3E%0A");
}

.product-popup__play-btn {
    width: 70px;
    height: 54px;
    display: block;
    background: #E8E8E8 url("data:image/svg+xml,%3Csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6348 8.90623C16.6287 9.49854 16.6287 10.9378 15.6348 11.5301L2.3908 19.4232C1.37276 20.03 0.0816374 19.2964 0.0816375 18.1113L0.0816381 2.32507C0.0816382 1.13995 1.37276 0.406404 2.3908 1.01313L15.6348 8.90623Z' fill='%233DCD58'/%3E%3C/svg%3E%0A") 50% no-repeat;
    margin-left: 10px;
}

.product-popup__play-btn:hover {
    background-color: #DED9D9;
}

.product-popup__play-btn:active {
    background-color: #8D8D8D;
}

.section--ex1 .products__item {
    padding: 70px 15px 75px;
    width: 25%;
    height: auto;
    margin: 0;
}
.section--ex1 .products__item--extra {
    width: 400px;
    padding-top: 100px;
}

.products .swiper-wrapper {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
}